<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>ML API</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="login">
      <h1>Machine Failure Predictor</h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="Type" placeholder="Type" required="required" />
        <input
          type="text"
          name="Air temparature [°C]"
          placeholder="Air Temparature [°C]"
          required="required"
        />
        <input
          type="text"
          name="Process temperature [°C]"
          placeholder="Process temperature [°C]"
          required="required"
        />
        <input
          type="text"
          name="Rotational speed [rpm]"
          placeholder="Rotational speed [rpm]"
          required="required"
        />
        <input
          type="text"
          name="Torque [Nm]"
          placeholder="Torque [Nm]"
          required="required"
        />
        <input
          type="text"
          name="Tool wear [min]"
          placeholder="Tool wear [min]"
          required="required"
        />
        <input
          type="text"
          name="Temperature difference [°C]"
          placeholder="Temperature difference [°C]"
          required="required"
        />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Predict
        </button>
      </form>

      <br />
      <br />
      {{ prediction_text }}
    </div>
  </body>
</html>
